tmp/
**/*.log
**/*.pml
**/*.mx1
**/*.mx2
**/*.aux
**/*.pmx
**/*.mup
**/*.dvi
**/*.ps
**/*.zip
**/*.mid
**/*.midi
**/*.mp3
**/*.wav
confitemini/confitemini-domino-stb.tex
confitemini/confitemini-domino-ttt.tex
my-peace.tex
document.pdf
linverno.tex
/document.synctex.gz
/palastinalied.pdf
/palastinalied.synctex.gz
kruisvaarderslied.pdf
kruisvaarderslied.tex
linverno.tex

/palastinalied-deutsch.pdf
/palastinalied-deutsch.synctex.gz
/linverno-latex.pdf
/linverno-latex.synctex.gz
/my-peace-latex.pdf
/my-peace-latex.synctex.gz
/palastinalied-deutsc.synctex.gz
