tmp/
**/*.log
**/*.pml
**/*.mx1
**/*.mx2
**/*.aux
**/*.pmx
**/*.mup
**/*.dvi
**/*.ps
**/*.zip
**/*.mid
**/*.midi
**/*.mp3
**/*.wav
**/*.pdf
**/*.out
**/*.synctex.gz
**/*.jpg
st-cecilia-press/*/*.yaml
